# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/
env/
build/
dist/
*.egg-info/

# Environment variables (NEVER COMMIT THIS FILE)
.env

# IDEs
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# OS-specific
Thumbs.db
ehthumbs.db
Desktop.ini

# Testing & Coverage
.pytest_cache/
.coverage
htmlcov/

